.detailsContainer {
  width: 100%;
  max-width: 420px;
  height: 100vh;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.heading {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.heading p {
  color: var(--accent-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form form input,
.form form select {
  padding: 10px;
}

.textIcon {
  font-size: 22px;
}

.textContainer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px;
  background-color: #84d6b9;
  color: #0f6e56;
  border-radius: 6px;
}

.textContainer p {
  width: fit-content;
  font-size: 14px;
  text-align: left;
}

.btnContainer button {
  margin-top: 20px;
  width: 100%;
}
