.progressContainer {
  width: 100%;
  max-width: 420px;
  padding: 20px 0;
}

.progressLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.stepWrapper {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

/* Circle */

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  background-color: var(--accent-color);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 2;
}

/* Completed step */
.completed {
  background-color: var(--secondary-color);
  color: #fff;
}

/* Current step */
.active {
  background-color: #f6b27a;
  color: #8b5a35;
}

/* Upcoming step */
.pending {
  background-color: orange;
  border: 8px solid rgb(107, 71, 5);
  color: transparent;
}

/* Connecting Line */
.line {
  position: absolute;

  top: 15px;
  left: 50%;
  width: 100%;

  height: 4px;

  background-color: var(--accent-color);

  z-index: 1;
}

.lineCompleted {
  background-color: var(--secondary-color);
}

/* Labels */
.label {
  margin-top: 14px;

  font-size: 14px;
  font-weight: 500;

  color: var(--accent-color);
}

.activeLabel {
  color: var(--secondary-color);
}
