.navContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
}

.logo {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding: 10px 20px;
}

.navbar a {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
  color: #000;
}

.icon {
  font-size: 1.3rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }

  .navContainer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--accent-color);
    box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.12);
  }

  .navbar {
    width: 100%;
    font-size: 14px;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .navbar a {
    flex-direction: column;
  }
}
