.passwordInput {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.passwordInput input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--accent-color);
}

.passwordInput button {
  font-size: 18px;
  border: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(20%);
  background: transparent;
  cursor: pointer;
}
